
header{
    background-color: black;
    height: 300px;
    color: aliceblue;
}
main{
        background-color: aliceblue;
    height: 1800px;
    color: black;
}
footer{
    background-color: black;
    height: 200px;
    color: aliceblue;
}
.logo{
    width: 300px;
}
.basquete1{
    width: 700px;

}
.basquete2{
    width: 700px;

}